<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <section>
        <h2>Bem vindo</h2>
        <button id="reser_page">Fazer Reserva</button>
        <button id="cancel_page">Cancelar Reserva</button>
        <button id="list_page">Ver mesas disponíveis</button>

    </section>

    <script>
        document.getElementById('reser_page').addEventListener('click', function() {
            window.location.href = '/reserva'; 
        });
    </script>
</body>
</html>